body {
   font-family: "Papyrus", Fantasy, serif;
}
button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: auto;
}
img{
  margin-left: 80px;
}
input[type=text]:focus {
  border: 3px solid #555;
}
